<div class="row">
<google-map latitude="37.77493" longitude="-122.41942"></google-map>
</div>
<div class="row">
<div class="col-xs-4 col-md-4"></div>
<div class="col-xs-4 col-md-4">
    <strong><h3>Contact</h3></strong>
    <hr>
    <form>
    
    <paper-input type="text" label="Name"></paper-input>
    <paper-input label="username" id="inputWithButton">
        <div suffix>@email.com</div>
        </paper-input>
    </form>
    </div>
</div>
<style>
  google-map {
    height: 100vh;
    padding-right: 20px;  
  }
</style>