<br>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4"><h3>Login</h3><hr></div>
</div>	
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	<form class="form" action="api/nerd" method="post">
		<div class="row">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" id="username"></div>
			<hr>
			<div class="row">
				<label for="password">Password</label>
				<input type="password" name="password" class="form-control" id="password"></div>
				<hr>
				<div class="row">
					
					<div class="col-md-6">
						<input type="submit" class="btn btn-default form-control" value="Login"></div>
					<div class="col-md-1"></div>
						<div class="col-md-5">
							<input type="button" class="btn btn-default form-control" value="Not a User?"></div>
						</div>
					</form> 
					</div>
				</div>